# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
scripts/*.log
scripts/*.err
scripts/m*.txt
.git-rewrite/
.env
.env.*
!.env.example
*.pem
*.key
*.p12
*.pfx
scripts/install-vs-to-d.ps1
scripts/*.glb
